Source: nassist
Maintainer: Kamil Szatkowski <netrix89@gmail.com>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 7), python3
X-Python-Version: >= 3.4

Package: nassist
Architecture: any
Depends: python3, python3-pyqt5, python3-pyqt5.qtwebkit, python3-xlib
Description: Small assistant application for handy things.
